@model Eva.UI.Web.Areas.Painel.Controllers.ArquivoViewModel
<div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { Area = "Painel" })"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Arquivos</li>
    </ul>
    <!--breadcrumbs end -->
</div>

<div class="col-md-12">
    @Flash.FlashMessage(TempData)
</div>

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Gerenciar Arquivos: @Model.Titulo
        </header>
        <div class="panel-body">
            <div class="btn-group">
                <a href="@Url.Action("Index", new { id = Model.Id, plugin = Model.Plugin })" type="button" class="btn btn-primary btn-sm"><i class="fa fa-camera"></i> Configurar Logo</a>    
                <a href="@Url.Action("Index", new { id = Model.Id, plugin = Model.Plugin })" type="button" class="btn btn-sm"><i class="fa fa-camera"></i> Retornar (Lista de Arquivos)</a>    
            </div>
            <br />
            <br />

            <link href="@Url.Content("~/Scripts/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css")" rel="stylesheet" type="text/css" />
            
            <script src="@Url.Content("~/Scripts/plupload/plupload.full.min.js")" type="text/javascript"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/plupload/jquery.plupload.queue/jquery.plupload.queue.js")"></script>
            <script type="text/javascript">
                
                $(function () {
                    $("#uploader").pluploadQueue({
                        // General settings
                        runtimes: 'html5,flash,silverlight',

                        max_file_size: '10mb',
                        chunk_size: '1mb',
                        max_retries: 5,
                        unique_names: true,

                        // Resize images on clientside if we can
                        resize: { width: 1600, height: 1200, quality: 90 },

                        // Specify what files to browse for
                        filters: [
                            { title: "Image files", extensions: "jpg,gif,png,jpeg" }
                        ],
                        url: '@Url.Action("upload", "Arquivos", new{id=Model.Id, plugin=Model.Plugin})',
                        flash_swf_url: '../../../Scripts/plupload/Moxie.swf',
                        silverlight_xap_url: '../../../Scripts/plupload/Moxie.xap',
                    });
                    // Client side form validation
                    $('form').submit(function (e) {
                        var uploader = $('#uploader').pluploadQueue();

                        // Files in queue upload them first
                        if (uploader.files.length > 0) {
                            // When all files are uploaded submit form
                            uploader.bind('StateChanged', function () {
                                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                    $('form')[0].submit();
                                }
                            });

                            uploader.start();
                        } 
                        return false;
                    });
                });
            </script>
            <div id="uploader">
                <p>
                    Seu browser não suporta Flash, Silverlight, Gears, BrowserPlus ou HTML5.
                </p>
            </div>
        </div>
    </section>
</div>