@using Eva.Dominio
@model Eva.UI.Web.Areas.Painel.Controllers.ArquivoViewModel
<div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { Area = "Painel" })"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Arquivos</li>
    </ul>
    <!--breadcrumbs end -->
</div>

<div class="col-md-12">
    @Flash.FlashMessage(TempData)
</div>

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Gerenciar Arquivos: @Model.Titulo
        </header>
        <div class="panel-body">
            <div class="btn-group">
                <a href="#myModal" data-toggle="modal" class="btn btn-primary btn-sm"><i class="fa fa-camera"></i> Configurar Logo</a>
                <a href="@Url.Action("Index", new { id = Model.Id, plugin = Model.Plugin })" type="button" class="btn btn-sm"><i class="fa fa-camera"></i> Retornar (Lista de Arquivos)</a>
            </div>
            <br />
            <br />

            <link href="@Url.Content("~/Scripts/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css")" rel="stylesheet" type="text/css" />

            <script src="@Url.Content("~/Scripts/plupload/plupload.full.min.js")" type="text/javascript"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/plupload/jquery.plupload.queue/jquery.plupload.queue.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/plupload/i18n/pt_BR.js")"></script>
            <script type="text/javascript">

                $(function () {
                    $("#uploader").pluploadQueue({
                        // General settings
                        runtimes: 'html5,flash,silverlight',

                        max_file_size: '10mb',
                        chunk_size: '1mb',
                        max_retries: 5,
                        unique_names: true,

                        // Resize images on clientside if we can
                        resize: { width: 1600, height: 1200, quality: 90 },

                        // Specify what files to browse for
                        filters: [
                            { title: "Image files", extensions: "jpg,gif,png,jpeg" }
                        ],
                        url: '@Url.Action("upload", "Arquivos", new{id=Model.Id, plugin=Model.Plugin})',
                        flash_swf_url: '../../../Scripts/plupload/Moxie.swf',
                        silverlight_xap_url: '../../../Scripts/plupload/Moxie.xap',
                    });
                    // Client side form validation
                    $('form').submit(function (e) {
                        var uploader = $('#uploader').pluploadQueue();

                        // Files in queue upload them first
                        if (uploader.files.length > 0) {
                            // When all files are uploaded submit form
                            uploader.bind('StateChanged', function () {
                                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                    $('form')[0].submit();
                                }
                            });

                            uploader.start();
                        }
                        return false;
                    });

                    $('#btnSalvar').click(function () {
                        var dados = $('#logoForm').serialize();
                        $.post('@Url.Action("ConfigurarLogo")', dados, function (data) {

                            $('#myModal').modal('hide');
                            
                        },'json');
                    });

                });
            </script>
            <div id="uploader">
                <p>
                    Seu browser não suporta Flash, Silverlight, Gears, BrowserPlus ou HTML5.
                </p>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Configurar posição dos Logos</h4>
                        </div>

                        <div class="modal-body row">
                            <form class="cmxform form-horizontal " id="logoForm" name="logoForm" method="POST" action="" novalidate="novalidate">

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Topo Esquerdo:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo1" id="Logo1">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Topo Centro:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo2" id="Logo2">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Topo Direito:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo3" id="Logo3">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Centro Esquerdo:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo4" id="Logo4">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Centro Centro:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo5" id="Logo5">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Centro Direito:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo6" id="Logo6">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Baixo Esquerdo:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo7" id="Logo7">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Baixo Centro:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo8" id="Logo8">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="logo1" class="control-label col-lg-3">Baixo Direito:</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="Logo9" id="Logo9">
                                            <option value=""></option>
                                            @foreach (var logo in (List<Logo>)ViewBag.Logos)
                                            {
                                                var selected = "";
                                                if (logo.Id == Model.Id)
                                                {
                                                    selected = "selected";
                                                }
                                                <option value='@logo.Id' @selected>@logo.Nome</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button class="btn btn-primary" type="submit" id="btnSalvar">Salvar</button>
                                        <a href="@Url.Action("Index")" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <!-- modal -->


        </div>
    </section>
</div>