@using Eva.Dominio
@using PagedList
@using PagedList.Mvc
@model Eva.UI.Web.Areas.Painel.Controllers.ArquivoViewModel
<div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new {Area = "Painel"})"><i class="fa fa-home"></i> Inicio</a></li>
        <li><a href="@ViewBag.urlVoltar"><i class="fa fa-home"></i> @ViewBag.urlTitulo</a></li>
        <li class="active">Arquivos</li>
    </ul>
    <!--breadcrumbs end -->
</div>

<div class="col-md-12">
    @Flash.FlashMessage(TempData)
</div>

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Gerenciar Arquivos: <b class="text-danger">@Model.Titulo</b>
        </header>
        <div class="panel-body">
            
            <a href="@Url.Action("Enviar", new { id = Model.Id, plugin = Model.Plugin })" type="button" class="btn btn-primary  btn-sm"><i class="fa fa-upload"></i> Enviar Novos Arquivos</a>
            <em class="pull-right text-muted">Clique nas imagens e arraste para ordena-las</em>
            <ul id="galeria" class="media-gal">
                @Html.Partial("listaImagens", Model)
            </ul>
            <div id="loading" class="col-md-4 center-block">
                
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editarImagem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Media galeria</h4>
                        </div>

                        <div class="modal-body row">
                            <div class="col-md-5 img-modal">
                                <img class="imgModal" src="" alt="">
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label> Nome</label>
                                    <input disabled="" id="Nome" value="" class="form-control editNome">
                                </div>
                                <div class="form-group">
                                    <label> Legenda</label>
                                    <input id="Legenda" value="" class="form-control editLegenda">
                                </div>
                                <div class="form-group">
                                    <label> Link URL</label>
                                    <input id="Link" value="" class="form-control editLink">
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" id="btnSalvarModal">Salvar</button>
                            <button data-dismiss="modal" aria-hidden="true" class="btn" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
            <!-- Modal Excluir Arquivos -->
            <div class="modal fade" id="confimarExclusao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar exclusão</h4>
                        </div>

                        <div class="modal-body row">

                            <div class="col-md-5 img-modal">
                                <img class="imgModal" src="" alt="">
                            </div>
                            <div class="col-md-7">
                                <h4 class="modal-title" id="myModalLabel">Deseja realmente excluir este arquivo?</h4>
                                <br />
                                <p>Arquivo: <b class="editNome"></b></p>
                                <p>Legenda: <em class="editLegenda"></em></p>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-danger" type="button" id="btnExcluirModal">Excluir</button>
                            <button data-dismiss="modal" aria-hidden="true" class="btn" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal-->

        </div>
    </section>
</div>

<script type="text/javascript">
    function botoesDeEdicao() {
        $('.menuimagem').hide();
        $(".images").mouseleave(function () {
            $(this).children('.menuimagem').hide();
        });
        $(".images").mouseenter(function () {
            $(this).children('.menuimagem').show();
        });
    }
    
    $(document).ready(function () {
        //INICIO organiza a ordem das imagens
        $("#galeria li:first").css("border", "1px solid #1fb5ad");
        $("#galeria").sortable({
            handle: ".handler",
            update: function () {
                var order = $("#galeria").sortable("toArray");

                $("#galeria li").css("border", "#cccccc solid 1px");
                $("#galeria li:first").css("border", "1px solid #1fb5ad");

                $.ajax({
                    url: "@Url.Action("Ordenar")",
                    type: "POST",
                    data: JSON.stringify({ items: order, id: '@Model.Id', plugin: '@Model.Plugin' }),
                    contentType: 'application/json'
                });
            }
        });
        //FIM organiza a ordem das imagens

        botoesDeEdicao();
        
        var imagemAtual = {};

        $('#confimarExclusao').on('show.bs.modal', function (e) {
            carregaImagemAtual(e.relatedTarget);

            $(this).find('.imgModal').attr('src', imagemAtual.pathimg);
            $('.editLegenda').text(imagemAtual.legenda);
            $('.editNome').text(imagemAtual.nome);

        });

        $('#editarImagem').on('show.bs.modal', function (e) {
            carregaImagemAtual(e.relatedTarget);

            $(this).find('.imgModal').attr('src', imagemAtual.pathimg);
            $('.editLegenda').val(imagemAtual.legenda);
            $('.editNome').val(imagemAtual.nome);
            $('.editLink').val(imagemAtual.pathimg);

        });

        $('#btnExcluirModal').click(function () {
            $('#' + imagemAtual.id).remove();

            $.ajax({
                url: "@Url.Action("Excluir")",
                type: "POST",
                data: JSON.stringify({ id: '@Model.Id', plugin: '@Model.Plugin', idArquivo: imagemAtual.id }),
                contentType: 'application/json'
            });

            $('#confimarExclusao').modal('hide');
        });

        $('#btnSalvarModal').click(function () {
            imagemAtual.legenda = $('.editLegenda').val();
            $('#legenda_' + imagemAtual.ordem).text(imagemAtual.legenda);

            $('#editarImagem').modal('hide');
        });

        function carregaImagemAtual(target) {
            imagemAtual.id = $(target).data('id');
            imagemAtual.pathimg = $('#' + imagemAtual.id).data('pathimg');
            imagemAtual.legenda = $('#' + imagemAtual.id).data('legenda');
            imagemAtual.nome = $('#' + imagemAtual.id).data('nome');
            imagemAtual.ordem = $('#' + imagemAtual.id).data('ordem');
        }
        
        
    });

</script>

<script type="text/javascript">
    var page = 0;
    var _inCallback = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            carregarImagens();
        }
    });

    function carregarImagens() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').html('<div class="alert alert-block alert-info fade in"><img src="../../../Content/Painel/img/input-spinner.gif"> <strong> Aguarde!</strong> Carregando novas imagens.</div>');
            $.get('@Url.Action("index")', { id: '@Model.Id', plugin: '@Model.Plugin', pagina: page }, function (data) {
                if (data != '') {
                    $("#galeria").append(data);
                    botoesDeEdicao();
                }
                else {
                    page = -1;
                }

                _inCallback = false;
                $('div#loading').empty();
            });
        }
    }
</script>