@using Eva.Dominio
@using PagedList
@using PagedList.Mvc
@model Eva.UI.Web.Areas.Painel.Controllers.ArquivoViewModel
<div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { Area = "Painel" })"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="active">Arquivos</li>
    </ul>
    <!--breadcrumbs end -->
</div>

<div class="col-md-12">
    @Flash.FlashMessage(TempData)
</div>

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Gerenciar Arquivos: @Model.Titulo
        </header>
        <div class="panel-body">

            <a href="@Url.Action("Enviar", new { id = Model.Id, plugin = Model.Plugin })" type="button" class="btn btn-primary  btn-sm"><i class="fa fa-upload"></i> Enviar Novos Arquivos</a>
            <em class="pull-right">Clique nas imagens e arraste para ordena-las</em>
            <ul id="galeria" class="media-gal">

                @foreach (var arquivo in Model.Arquivos)
                {

                    <li id="id_ @arquivo.Ordem" class="images item" style="background-color: #ffffff">
                        <img src="@Foto.Placehold(arquivo.Nome,"210x200","Noticia/")" alt="" class="handler" />
                        <p>@arquivo.Legenda.Substring(0, 25) ...</p>

                        <div class="row prd-row menuimagem">
                            <div class="action" style="right: 23px; bottom: 35px;">
                                <a data-pathimg="@Foto.Placehold(arquivo.Nome,"250x250","Noticia/")" data-nome="@arquivo.Nome" data-legenda="@arquivo.Legenda" data-toggle="modal" data-target="#myModal" href="#" class="part1"><i class="fa fa-pencil"></i></a>
                                <a data-pathimg="@Foto.Placehold(arquivo.Nome,"250x250","Noticia/")" data-nome="@arquivo.Nome" data-legenda="@arquivo.Legenda" data-href="arquivo.php?plugin=noticia#" data-toggle="modal" data-target="#confirm-delete" href="#" class="part1 yellow-bg-prd"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>

                    </li>
                }
            </ul>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Media galeria</h4>
                        </div>

                        <div class="modal-body row">
                            <div class="col-md-5 img-modal">
                                <img class="imgModal" src="" alt="">
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label> Nome</label>
                                    <input disabled="" id="Nome" value="" class="form-control editNome">
                                </div>
                                <div class="form-group">
                                    <label> Legenda</label>
                                    <input id="Legenda" value="" class="form-control editLegenda">
                                </div>
                                <div class="form-group">
                                    <label> Link URL</label>
                                    <input id="Link" value="" class="form-control editLink">
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button">Salvar</button>
                            <button data-dismiss="modal" aria-hidden="true" class="btn" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
            <!-- Modal Excluir Arquivos -->
            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar exclusão</h4>
                        </div>

                        <div class="modal-body row">

                            <div class="col-md-5 img-modal">
                                <img class="imgModal" src="" alt="">
                            </div>
                            <div class="col-md-7">
                                <h4 class="modal-title" id="myModalLabel">Deseja realmente excluir este arquivo?</h4>
                                <br/>
                                <p>Arquivo: <b class="editNome"></b></p>
                                <p>Legenda: <em class="editLegenda"></em></p>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-danger" type="button">Excluir</button>
                            <button data-dismiss="modal" aria-hidden="true" class="btn" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal-->




        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#galeria li:first").css("border", "1px solid #1fb5ad");
        $("#galeria").sortable({
            handle: ".handler",
            update: function () {
                var order = $("#galeria").sortable("serialize");
                //$("#info").load("ordenar.php?parametro=' . $_GET['parametro'] . '&" + order);
                console.log("-->", order);
                $("#galeria li").css("border", "#cccccc solid 1px");
                $("#galeria li:first").css("border", "1px solid #1fb5ad");
            }
        });

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.imgModal').attr('src', $(e.relatedTarget).data('pathimg'));
            $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));

            $('.editLegenda').text($(e.relatedTarget).data('legenda'));
            $('.editNome').text($(e.relatedTarget).data('nome'));
        });

        $('#myModal').on('show.bs.modal', function (e) {
            $(this).find('.imgModal').attr('src', $(e.relatedTarget).data('pathimg'));

            $('.editLink').val($(e.relatedTarget).data('pathimg'));
            $('.editLegenda').val($(e.relatedTarget).data('legenda'));
            $('.editNome').val($(e.relatedTarget).data('nome'));
        });


        $('.menuimagem').hide();
        $(".images").mouseleave(function () {
            $(this).children('.menuimagem').hide();
        });
        $(".images").mouseenter(function () {
            $(this).children('.menuimagem').show();
        });
    });

</script>