@using Eva.Dominio
@using PagedList.Mvc
@model PagedList.IPagedList<Eva.Dominio.Evento>

<section class="bloco-largura left mgn-top-20px">
    <h2 class="titulo-28px mgn-left-10px fui-camera">EVENTOS</h2>
    <ul class="eventos-lista left">
        @foreach (var evento in Model.Take(10))
        {
            <li>
                <div class="topo-eventos">
                    <p class="data left">@evento.Data.ToShortDateString()</p>
                    <p class="quant-fotos right fui-camera">@evento.Arquivos.Count() fotos</p>
                </div>
                <a href="@Url.Action("Ler", "Evento", new { Area = "", slug = evento.Slug, ano = evento.Data.Year, mes = evento.Data.Month, dia = evento.Data.Day, page=1})" title="@evento.Titulo">
                    <figure>
                        @{
            var arquivo = evento.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "180x102", "Evento" , "180x102_" )" width="220" height="124" />
                    </figure>
                    <p class="hora left fui-time">@evento.Data.ToShortTimeString()</p>
                    <p class="local right fui-location">@evento.Local</p>
                    <p class="desc left">@evento.Titulo</p>
                </a>
            </li>
        }
    </ul>
</section>
<div class="paginacao left mgn-top-20px">
   @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
