@using Eva.Dominio
@model Eva.UI.Web.Controllers.HomeViewModel

@{
    ViewBag.Title = "Capital do Jerico";
}


<!-- News Ticker -->
<div class="container">
    <div class="float-width ticker">
        <h3 class="cat-label4">DESTAQUES</h3>
        <ul class="newsticker">
            <li>
                <h4>
                    <a class="fui-time" href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = Model.Noticias.Urgente.Slug, slugCategoria = Model.Noticias.Urgente.Categoria.Slug, slugLocal = Model.Noticias.Urgente.Local.Slug})" title="@Model.Noticias.Urgente.Titulo">
                        @Model.Noticias.Urgente.Titulo
                    </a>
                </h4>
            </li>
        </ul>
       
    </div>
</div>

<!-- Home Slider and Big news blocks -->
<div class="container">
    <div class="main-news-blks">
        <div class="hm-slider-cont">
            <!-- News slider -->
            <div class="flex-container">
                <div class="flexslider hm-slider">
                    <ul class="slides">
                        @foreach (var noticia in Model.Noticias.Destaques.Take(2))
                        {
                        <li>
                            @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                            <img src="@Foto.Placehold(arquivo.Nome, "464x474", "Noticia" , "464x474_" )" alt="@arquivo.Legenda" />
                            <h3 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                                <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                            </h3>
                            <div class="hm-sldr-caption">
                                <h3>
                                    <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo</a>
                                </h3>
                                <p>@noticia.Resumo.Limit(120) ...</p>
                            </div>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- Fixed Blocks -->
        <div class="mid-blks-cont">
            <!-- Block1 -->
            @foreach (var noticia in Model.Noticias.Destaques.Skip(2).Take(2))
            {
            <div class="mid-block-1 boxgrid caption">
                @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                <img src="@Foto.Placehold(arquivo.Nome, "391x231", "Noticia" , "391x231_" )" alt="@arquivo.Legenda" />
                <h4 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                    <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                </h4>
                <div class="cover boxcaption">
                    <h3><a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo.Limit(40) ...</a></h3>
                    <p>@noticia.Resumo.Limit(90) ...</p>
                    <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">Mais <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            }
        </div>
        <!-- Block3 -->
        <div class="rt-bk-cont">
            @foreach (var noticia in Model.Noticias.Destaques.Skip(4).Take(1))
            {
            <div class="rt-block boxgrid2 caption">
                @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                <img src="@Foto.Placehold(arquivo.Nome, "289x475", "Noticia" , "289x475_" )" alt="@arquivo.Legenda" />
                <h4 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                    <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                </h4>
                <div class="cover boxcaption2">
                    <h3><a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo.Limit(40) ...</a></h3>
                    <p>@noticia.Resumo.Limit(90) ...</p>
                    <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">Mais <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<!-- Main Body -->
<div class="container">
    <!-- Main Left side -->
    <div class="main-left-side">
        <!-- Top News Section -->
        <div class="top-news float-width">
            <div class="float-width sec-cont">
                <h3 class="sec-title">Top news</h3>
                <div class="top-big-two">
                    <div class="big-two-1 blocky boxgrid3 caption">
                        <img alt="" src="~/Content/Site/img/samples/sample4.jpg" />
                        <div class="cover boxcaption3">
                            <h3><a href="#single.html">Red hair just coming back to fashion</a></h3>
                            <p class="artcl-time-1">
                                <span><i class="fa fa-clock-o"></i>20 Jan 2014</span>
                                <span><i class="fa fa-comment-o"></i>21 comments</span>
                            </p>
                            <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl. Sed dol...</p>
                        </div>
                    </div>
                    <div class="big-two-2 blocky boxgrid3 caption">
                        <img alt="" src="~/Content/Site/img/samples/sample5.jpg" />
                        <div class="cover boxcaption3">
                            <h3><a href="#single.html">Arrows will be allowed in Olympic Sport</a></h3>
                            <p class="artcl-time-1">
                                <span><i class="fa fa-clock-o"></i>20 Jan 2014</span>
                                <span><i class="fa fa-comment-o"></i>13 comments</span>
                            </p>
                            <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl. Sed dol...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tn-small-1 blocky">
                <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e1.jpg" /></a>
                <h4 class="lefty">After party of Blondi Concert will begin tomorrow</h4>
                <a class="lefty cat-a cat-label4" href="#">MUSIC</a>
                <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
            </div>
            <div class="tn-small-1 blocky">
                <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e2.jpg" /></a>
                <h4 class="lefty">USA Games Studio will release sandbox new game</h4>
                <a class="lefty cat-a cat-label2" href="#">GAMES</a>
                <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
            </div>
            <div class="tn-small-1 blocky">
                <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e3.jpg" /></a>
                <h4 class="lefty">The best place to see in Winter season this year</h4>
                <a class="lefty cat-a cat-label3" href="#">TOURISM</a>
                <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
            </div>
            <div class="tn-small-1 blocky">
                <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e4.jpg" /></a>
                <h4 class="lefty">New phone - people love it and sales are closed</h4>
                <a class="lefty cat-a cat-label5" href="#">tech</a>
                <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
            </div>
        </div>
        <!-- Sec 1 -->
        <div class="news-sec-1 float-width">
            <div class="float-width sec-cont2">
                <h3 class="sec-title">MUSIC NEWS</h3>
                <div class="sec-1-big float-width">
                    <img alt="" class="blocky" src="~/Content/Site/img/samples/z1.jpg" />
                    <div class="sec-1-big-text lefty">
                        <h3>Famous artist share his tracks for free</h3>
                        <h6><span><i class="fa fa-user"></i>John Doe</span><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
                    </div>
                </div>
                <div class="sec-1-sm">
                    <img alt="" class="blocky" src="~/Content/Site/img/samples/e5.jpg" />
                    <div class="sec-1-sm-text blocky">
                        <h3>TOP 10 Pop track list past year</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                    </div>
                </div>
                <div class="sec-1-sm">
                    <img alt="" class="blocky" src="~/Content/Site/img/samples/e6.jpg" />
                    <div class="sec-1-sm-text blocky">
                        <h3>Another Hip-Hop rising star</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                    </div>
                </div>
                <div class="sec-1-sm">
                    <img alt="" class="blocky" src="~/Content/Site/img/samples/e7.jpg" />
                    <div class="sec-1-sm-text blocky">
                        <h3>New MP3 tracks are coming </h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                    </div>
                </div>
                <div class="sec-1-sm">
                    <img alt="" class="blocky" src="~/Content/Site/img/samples/e8.jpg" />
                    <div class="sec-1-sm-text blocky">
                        <h3>DJ Open Music Festival 2014</h3>
                        <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                        <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- News slider -->
        <div class="qk-slider float-width">
            <h3 class="sldr-title">slider</h3>
            <div class="flexslider news-sldr">
                <ul class="slides">
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s1.jpg" /></a>
                            <h4><a href="#">Listen during running</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s2.jpg" /></a>
                            <h4><a href="#">Cinemas are closed</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s3.jpg" /></a>
                            <h4><a href="#">Best time to marry</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s4.jpg" /></a>
                            <h4><a href="#">Winter is coming</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s1.jpg" /></a>
                            <h4><a href="#">Listen during running</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s2.jpg" /></a>
                            <h4><a href="#">Cinemas are closed</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s3.jpg" /></a>
                            <h4><a href="#">Best time to marry</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                    <li>
                        <div class="trans2 slide-sngl">
                            <a class="text-center" href="#"><img alt="" src="~/Content/Site/img/samples/s4.jpg" /></a>
                            <h4><a href="#">Winter is coming</a></h4>
                            <p>Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit ...</p>
                            <h6><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- POLLS AND REVIEWS -->
        <div class="news-sec-2 float-width">
            <div class="float-width sec-cont3">
                <h3 class="sec-title">TECHNOLOGY - POLLS AND REVIEWS</h3>
                <div class="polls-cont">
                    <div class="polls-left blocky">
                        <a href="#"><img alt="" class="polls-bg-img" src="~/Content/Site/img/samples/z4.jpg" /></a>
                        <div class="pol-lft-txt">
                            <h4 class="float-width">Pizza will be delivered by Drons</h4>
                            <a href="#" class="lefty"><img alt="" src="~/Content/Site/img/4-stars.png" /></a>
                            <h6 class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <p class="float-width">Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
                        </div>
                    </div>
                    <div class="polls-right lefty">
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m1.jpg" /></a>
                            <h5>Pizza will be delivered by Drons</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <a href="#" class="lefty stars"><img alt="" src="~/Content/Site/img/4-stars.png" /></a>
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m2.jpg" /></a>
                            <h5>YouTube as a real Television?</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <a href="#" class="lefty stars"><img alt="" src="~/Content/Site/img/4-stars.png" /></a>
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m3.jpg" /></a>
                            <h5>Flying Mouse to your PC</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <a href="#" class="lefty stars"><img alt="" src="~/Content/Site/img/4-stars.png" /></a>
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m4.jpg" /></a>
                            <h5>Best gadget ever on your hand</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <a href="#" class="lefty stars"><img alt="" src="~/Content/Site/img/4-stars.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Images news with slider -->
        <div class="sm-gal-cont float-width">
            <h3 class="sec-title">TOURISM - GALLERY</h3>
            <div class="sm-gal-bg">
                <a href="#"><img alt="" src="~/Content/Site/img/samples/z5.jpg" /></a>
            </div>
            <div class="flexslider img-sm-gal righty">
                <ul class="slides">
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg">
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg">
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <!-- Videos Section -->
        <div class="vid-gal float-width">
            <h3 class="sec-title">TECHNOLOGY - VIDEOS</h3>
            <div class="vid-gal-bg float-width">
                <iframe src="http://player.vimeo.com/video/83714647" width="100%" height="387" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="vid-thmb">
                <ul class="float-width">
                    <li><img alt="" src="~/Content/Site/img/samples/b1.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b2.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b3.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b4.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Main Right side -->
    <div class="main-right-side">
        <!-- One image slider -->
        <div class="sm-sldr-box float-width">
            <div class="flexslider sm-sldr">
                <ul class="slides">
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/z2.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/z2.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <!-- Social Media Counter -->
        <div class="smedia lefty">
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/fb.png" /><span>6423</span></a></div>
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/tw.png" /><span>12344</span></a></div>
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/gplus.png" /><span>1846</span></a></div>
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/drp.png" /><span>416</span></a></div>
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/flkr.png" /><span>91</span></a></div>
            <div class="w50 blocky"><a href="#"><img alt="" class="lefty" src="~/Content/Site/img/ig.png" /><span>3487</span></a></div>
        </div>
        <!-- Trending news right -->
        <div class="trending lefty">
            <h3 class="sec-title">TRENDING</h3>
            <div class="trend-1">
                <a href="#"><img alt="" src="~/Content/Site/img/samples/z3.jpg" /></a>
                <a class="lefty cat-a cat-label2" href="#">GAMES</a>
                <div class="trend-2">
                    <h3><a href="#">Watch Dogs - First gameplay this year</a></h3>
                    <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl. Sed dolor..</p>
                    <p class="artcl-time-1">
                        <span><i class="fa fa-clock-o"></i>20 Jan 2014</span>
                        <span><i class="fa fa-comment-o"></i>21 comments</span>
                    </p>
                </div>
            </div>
            <div class="float-width">
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e2.jpg" /></a>
                    <h4 class="lefty">USA Games Studio will release sandbox new game</h4>
                    <a class="lefty cat-a cat-label2" href="#">GAMES</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e1.jpg" /></a>
                    <h4 class="lefty">After party of Blondi Concert will begin tomorrow</h4>
                    <a class="lefty cat-a cat-label4" href="#">MUSIC</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e3.jpg" /></a>
                    <h4 class="lefty">The best place to see in Winter season this year</h4>
                    <a class="lefty cat-a cat-label3" href="#">TOURISM</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
            </div>
        </div>
        <!-- Flicker Widget -->
        <div class="flkr-cont lefty">
            <h3 class="sec-title">FLICKR WIDGET</h3>
            <div id="basicuse"></div>
        </div>
        <!-- News letter subscription -->
        <div class="subscribe lefty">
            <h3 class="sec-title">NEWSLETTER</h3>
            <h6>Subscribe to our newsletter and be first to know about new game, music and movie releases.</h6>
            <form role="form">
                <div class="form-group">
                    <input type="text" class="lefty" placeholder="Enter your email adress and hit enter">
                    <a href="#" class="lefty trans1" type="submit">save</a>
                </div>
            </form>
        </div>
        <!-- Featured Video -->
        <div class="ftrd-vd float-width">
            <h3 class="sec-title">FEATURED VIDEO</h3>
            <iframe src="http://player.vimeo.com/video/8170203?color=b3a07d" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <!-- Calender Widget -->
        <div class="calendar-cont float-width">
            <div id="cal">
                <div class="header float-width">
                    <h2 class="month-year lefty w50" id="label">
                        <span id="month"> MAR </span> <span id="year"> 2014 </span>
                    </h2>
                    <h6 class="float-width">this is today's event details!</h6>
                </div>
                <table id="days">
                    <tr>
                        <td>sun</td>
                        <td>mon</td>
                        <td>tue</td>
                        <td>wed</td>
                        <td>thu</td>
                        <td>fri</td>
                        <td>sat</td>
                    </tr>
                </table>
                <div id="cal-frame">
                    <table class="curr">
                        <tr>
                            <td class="nil"></td>
                            <td class="nil"></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td class="today">11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td class="nil"></td>
                            <td class="nil"></td>
                            <td class="nil"></td>
                        </tr>
                    </table>
                    <a class="cal-btm-arw trans1 cal-pre">&#59237;</a>
                    <a class="cal-btm-arw trans1 cal-nxt">&#59238;</a>
                </div>
            </div>
        </div>
        <!-- Ad banner right -->
        <div class="lefty ad-rt">
            <a href="#"><img alt="" src="~/Content/Site/img/samples/u1.jpg" /></a>
        </div>
    </div>
</div>

<!--AQUI PRA BAIXO-->
<div class="categorias mgn-left-10px left">
    <div class="oculto">
        @Html.Action("CategoriasWidget", "Home", new { Area = "" })
    </div>
</div>

<article class="destaques right mgn-right-10px mgn-top-20px">
    <section class="noticia-urgente">
        <a class="fui-time" href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia = Model.Noticias.Urgente.Slug, slugCategoria = Model.Noticias.Urgente.Categoria.Slug, slugLocal = Model.Noticias.Urgente.Local.Slug })" title="@Model.Noticias.Urgente.Titulo" style="background-color:#E74B3B;">
            @Model.Noticias.Urgente.Titulo
        </a>
        <p class="fui-time" style="color:#E74B3B;">@Model.Noticias.Urgente.Data.ToString("dd/MM/yyyy HH:mm")</p>
        <p class="fui-location" style="color:#E74B3B;">@Model.Noticias.Urgente.Local.Nome</p>
    </section>
    <section class="destaques-atual">
        <h2 class="titulo fui-menu">DESTAQUES</h2>
        <ul class="slideshow">
            @foreach (var noticia in Model.Noticias.Destaques)
            {
                <li>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Categoria.Nome">
                        <p class="categ" style="background-color:@noticia.Categoria.CorFundo;color:@noticia.Categoria.CorTexto">@noticia.Categoria.Nome</p>
                        <figure>
                            @{
                var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "500x282", "Noticia" , "500x282_" )" width="500" height="282" />
                        </figure>
                        <p class="hora fui-time left" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                        <p class="local fui-location right" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                        <h2 class="desc" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</h2>
                    </a>
                </li>
            }
        </ul>
        <ul class="miniatura">
            @foreach (var noticia in Model.Noticias.Destaques)
            {
                <li>
                    <a href="#" title="">
                        <span class="molde"></span>
                        <figure>
                            <span style="background-color: @noticia.Categoria.CorFundo;"></span>
                            @{
                var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, " 150x85", "Noticia" , "150x85_" )" width="70" height="39" />
                        </figure>
                    </a>
                </li>
            }
        </ul>
    </section>
    <div class="bloco-largura right">
        @foreach (var noticia in Model.Noticias.AoLadoDoDestaque.Take(2))
        {
            <section class="noticia left largura-240px mgn-left-20px">
                <h2 class="chamada mgn-bottom-10px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left desc-14px mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-10px right">
        @foreach (var noticia in Model.Noticias.AoLadoDoDestaque.Skip(2).Take(2))
        {
            <section class="noticia left largura-240px mgn-left-20px">
                <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure>
                        @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="240" height="135" />
                    </figure>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left desc-14px mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
</article>

<div class="bloco-largura mgn-top-20px left">
    @foreach (var noticia in Model.Noticias.EmbaixoDoDestaque.Take(5))
    {
        <section class="noticia left largura-220px mgn-esq-dir-10px">
            <h2 class="chamada" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "220x124", "Noticia" , "380x214_" )" width="220" height="124" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</div>

<div class="bloco-largura-800px mgn-top-20px left">
    <div class="bloco-largura">
        @foreach (var noticia in Model.Noticias.Centro.Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure>
                        @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                    </figure>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-18px left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-20px">
        @foreach (var noticia in Model.Noticias.Centro.Skip(2).Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-20px">
        @foreach (var noticia in Model.Noticias.Centro.Skip(4).Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
</div>
<section class="mais-lidas mgn-top-20px mgn-right-10px right">
    <div class="topo">
        <h2 class="titulo">Notícias mais lidas</h2>
        <ul class='tabs left'>
            <li><a href='#tab1'>Do dia</a></li>
            <li><a href='#tab2'>Da semana</a></li>
            <li><a href='#tab3'>Do mês</a></li>
        </ul>
    </div>
    <div id='tab1'>
        @foreach (var noticia in Model.Noticias.MaisLidaDoDia.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div id='tab2'>
        @foreach (var noticia in Model.Noticias.MaisLidaDaSemana.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div id='tab3'>
        @foreach (var noticia in Model.Noticias.MaisLidaDoMes.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
</section>


<section class="eventos mgn-top-20px">
    <a href="eventos.html" title="EVENTOS">
        <h2 class="titulo mgn-left-10px fui-camera">EVENTOS</h2>
    </a>
    <ul class="lista-eventos mgn-left-10px">
        @foreach (var evento in Model.Eventos.UltimosEventos)
        {
            <li>
                <div class="topo-eventos">
                    <p class="data left">@evento.Data.ToShortDateString()</p>
                    <p class="quant-fotos right fui-camera">@evento.Arquivos.Count() fotos</p>
                </div>
                <a href="@Url.Action("Ler", "Evento", new { Area = "", slug = evento.Slug, ano = evento.Data.Year, mes = evento.Data.Month, dia = evento.Data.Day, page=1 })" title="@evento.Titulo">
                    <figure>
                        @{
            var arquivo = evento.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "180x102", "Evento", "180x102_")" width="180" height="102" />
                    </figure>
                    <p class="hora left fui-time">@evento.Data.ToShortTimeString()</p>
                    <p class="local right fui-location">@evento.Local</p>
                    <p class="desc left">@evento.Titulo</p>
                </a>
            </li>
        }
    </ul>
</section>

<section class="bloco-largura largura-380px left mgn-left-10px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria01.Take(1))
    {
        <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria01.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria01.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>
<section class="bloco-largura largura-380px left mgn-left-20px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria02.Take(1))
    {
        <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria02.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria02.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>
<section class="bloco-largura largura-380px left mgn-left-20px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria03.Take(1))
    {
        <a href="noticias.html" title="Esportes">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria03.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria03.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>

<div class="bloco-largura left mgn-top-20px">
    <a href="noticias.html" title="Brasil e mundo">
        <h2 class="titulo-secao fui-menu mgn-left-10px" style="color:#00668C;">Geral</h2>
    </a>

    @foreach (var noticia in Model.Noticias.Rodape.Take(3))
    {
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
</div>
<div class="bloco-largura left mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Rodape.Skip(3).Take(3))
    {
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">00h00</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</div>