@using Eva.Dominio
@model Eva.UI.Web.Controllers.HomeViewModel
<div class="categorias mgn-left-10px left">
    <div class="oculto">
        @Html.Action("CategoriasWidget", "Home", new { Area = "" })
    </div>
</div>
<div class="banner-1024px right mgn-right-10px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img1.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-230px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/230x90px/img1.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<div class="banner-vertical left mgn-left-10px mgn-top-20px">
    <div class="texto-vertical left"></div>
    <div class="banner right">
        <figure>
            <a href="#" title="Título do banner">
                <img src="~/Content/Site/img/banners/120x600px/img1.png" alt="">
            </a>
        </figure>
    </div>
</div>
<article class="destaques right mgn-right-10px mgn-top-20px">
    <section class="noticia-urgente">
        <a class="fui-time" href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia = Model.Noticias.Urgente.Slug, slugCategoria = Model.Noticias.Urgente.Categoria.Slug, slugLocal = Model.Noticias.Urgente.Local.Slug })" title="@Model.Noticias.Urgente.Titulo" style="background-color:#E74B3B;">
            @Model.Noticias.Urgente.Titulo
        </a>
        <p class="fui-time" style="color:#E74B3B;">@Model.Noticias.Urgente.Data.ToString("dd/MM/yyyy HH:mm")</p>
        <p class="fui-location" style="color:#E74B3B;">@Model.Noticias.Urgente.Local.Nome</p>
    </section>
    <section class="destaques-atual">
        <h2 class="titulo fui-menu">DESTAQUES</h2>
        <ul class="slideshow">
            @foreach (var noticia in Model.Noticias.Destaques)
            {
                <li>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Categoria.Nome">
                        <p class="categ" style="background-color:@noticia.Categoria.CorFundo;color:@noticia.Categoria.CorTexto">@noticia.Categoria.Nome</p>
                        <figure>
                            @{
                var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "500x282", "Noticia" , "500x282_" )" width="500" height="282" />
                        </figure>
                        <p class="hora fui-time left" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                        <p class="local fui-location right" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                        <h2 class="desc" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</h2>
                    </a>
                </li>
            }
        </ul>
        <ul class="miniatura">
            @foreach (var noticia in Model.Noticias.Destaques)
            {
                <li>
                    <a href="#" title="">
                        <span class="molde"></span>
                        <figure>
                            <span style="background-color: @noticia.Categoria.CorFundo;"></span>
                            @{
                var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, " 150x85", "Noticia" , "150x85_" )" width="70" height="39" />
                        </figure>
                    </a>
                </li>
            }
        </ul>
    </section>
    <div class="bloco-largura right">
        @foreach (var noticia in Model.Noticias.AoLadoDoDestaque.Take(2))
        {
            <section class="noticia left largura-240px mgn-left-20px">
                <h2 class="chamada mgn-bottom-10px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left desc-14px mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-10px right">
        @foreach (var noticia in Model.Noticias.AoLadoDoDestaque.Skip(2).Take(2))
        {
            <section class="noticia left largura-240px mgn-left-20px">
                <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure>
                        @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="240" height="135" />
                    </figure>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left desc-14px mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
</article>
<div class="banner-1024px right mgn-right-10px mgn-top-10px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img2.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-230px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/230x90px/img2.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<div class="bloco-largura mgn-top-20px left">
    @foreach (var noticia in Model.Noticias.EmbaixoDoDestaque.Take(5))
    {
        <section class="noticia left largura-220px mgn-esq-dir-10px">
            <h2 class="chamada" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "220x124", "Noticia" , "380x214_" )" width="220" height="124" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</div>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img3.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img2.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<div class="bloco-largura-800px mgn-top-20px left">
    <div class="bloco-largura">
        @foreach (var noticia in Model.Noticias.Centro.Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure>
                        @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                    </figure>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-18px left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-20px">
        @foreach (var noticia in Model.Noticias.Centro.Skip(2).Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div class="bloco-largura mgn-top-20px">
        @foreach (var noticia in Model.Noticias.Centro.Skip(4).Take(2))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc left mgn-top-5px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
</div>
<section class="mais-lidas mgn-top-20px mgn-right-10px right">
    <div class="topo">
        <h2 class="titulo">Notícias mais lidas</h2>
        <ul class='tabs left'>
            <li><a href='#tab1'>Do dia</a></li>
            <li><a href='#tab2'>Da semana</a></li>
            <li><a href='#tab3'>Do mês</a></li>
        </ul>
    </div>
    <div id='tab1'>
        @foreach (var noticia in Model.Noticias.MaisLidaDoDia.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div id='tab2'>
        @foreach (var noticia in Model.Noticias.MaisLidaDaSemana.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div id='tab3'>
        @foreach (var noticia in Model.Noticias.MaisLidaDoMes.Take(4))
        {
            <section class="noticia left largura-380px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color: @noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color: @noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color: @noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color: @noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
</section>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img4.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img3.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="colunistas mgn-top-20px">
    <a href="#" title="COLUNISTAS">
        <h2 class="titulo mgn-left-10px fui-man">COLUNISTAS</h2>
    </a>
    <ul class="lista-colunistas">
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img1.jpg" alt="">
                </figure>
                <h2 class="nome">Donec Suscipit</h2>
                <p class="desc">Aliquam magna tortor, interdum</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img2.jpg" alt="">
                </figure>
                <h2 class="nome">Aenean Est Massa</h2>
                <p class="desc">Proin nunc. Cum sociis natoque</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img3.jpg" alt="">
                </figure>
                <h2 class="nome">Nulla Cursus Metus </h2>
                <p class="desc">Aliquam magna tortor, interdum</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img4.jpg" alt="">
                </figure>
                <h2 class="nome">Class Aptent Taciti</h2>
                <p class="desc">Nunc aliquam est non</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img5.jpg" alt="">
                </figure>
                <h2 class="nome">Nunc Accumsan</h2>
                <p class="desc">Aliquam sit amet nibh</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img6.jpg" alt="">
                </figure>
                <h2 class="nome">Maecenas Mattis</h2>
                <p class="desc">Suspendisse potenti. Morbi ut</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img7.jpg" alt="">
                </figure>
                <h2 class="nome">Ut Vitae</h2>
                <p class="desc">Fusce eleifend. Aliquam at</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img8.jpg" alt="">
                </figure>
                <h2 class="nome">Etiam Vitae</h2>
                <p class="desc">Sed turpis arcu, luctus</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img9.jpg" alt="">
                </figure>
                <h2 class="nome">Ut Egestas Dolor</h2>
                <p class="desc">Praesent at lectus. Maecenas</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img10.jpg" alt="">
                </figure>
                <h2 class="nome">Nam Fringilla</h2>
                <p class="desc">Suspendisse augue. Aenean sit</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img11.jpg" alt="">
                </figure>
                <h2 class="nome">Nulla Facilisi</h2>
                <p class="desc">Praesent lectus dui, facilisis</p>
            </a>
        </li>
        <li>
            <a href="#" title="Nome do colunista">
                <figure>
                    <img src="~/Content/Site/img/colunistas/img12.jpg" alt="">
                </figure>
                <h2 class="nome">Suspendisse Vitae</h2>
                <p class="desc">Fusce quis nisl ac</p>
            </a>
        </li>
    </ul>
</section>
<div class="banner-323px right mgn-top-20px mgn-right-10px">
    <div class="texto-vertical left"></div>
    <div class="banner right">
        <figure>
            <a href="#" title="Título do banner">
                <img src="~/Content/Site/img/banners/300x250px/img1.png" alt="">
            </a>
        </figure>
    </div>
</div>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img5.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img4.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="eventos mgn-top-20px">
    <a href="eventos.html" title="EVENTOS">
        <h2 class="titulo mgn-left-10px fui-camera">EVENTOS</h2>
    </a>
    <ul class="lista-eventos mgn-left-10px">
        @foreach (var evento in Model.Eventos.UltimosEventos)
        {
            <li>
                <div class="topo-eventos">
                    <p class="data left">@evento.Data.ToShortDateString()</p>
                    <p class="quant-fotos right fui-camera">@evento.Arquivos.Count() fotos</p>
                </div>
                <a href="@Url.Action("Ler", "Evento", new { Area = "", slug = evento.Slug})" title="@evento.Titulo">
                    <figure>
                        @{
            var arquivo = evento.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "180x102", "Evento" , "180x102_" )" width="180" height="102" />
                    </figure>
                    <p class="hora left fui-time">@evento.Data.ToShortTimeString()</p>
                    <p class="local right fui-location">@evento.Local</p>
                    <p class="desc left">@evento.Titulo</p>
                </a>
            </li>
        }
    </ul>
</section>
<div class="banner-vertical right mgn-right-10px mgn-top-56px">
    <div class="texto-vertical left"></div>
    <div class="banner right">
        <figure>
            <a href="#" title="Título do banner">
                <img src="~/Content/Site/img/banners/120x600px/img2.png" alt="">
            </a>
        </figure>
    </div>
</div>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img6.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img5.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="bloco-largura largura-380px left mgn-left-10px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria01.Take(1))
    {
        <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria01.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria01.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>
<section class="bloco-largura largura-380px left mgn-left-20px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria02.Take(1))
    {
        <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria02.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria02.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>
<section class="bloco-largura largura-380px left mgn-left-20px mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Categoria03.Take(1))
    {
        <a href="noticias.html" title="Esportes">
            <h2 class="fui-menu titulo-secao" style="color: @noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h2>
        </a>

        <section class="noticia left largura-380px">
            <h2 class="chamada" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <figure>
                    @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                    }
                    <img src="@Foto.Placehold(arquivo.Nome, "380x214", "Noticia" , "380x214_" )" width="380" height="214" />
                </figure>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc desc-18px left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria03.Skip(1).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
    @foreach (var noticia in Model.Noticias.Categoria03.Skip(2).Take(1))
    {
        <section class="noticia left largura-380px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</section>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img7.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img1.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="slide-classificados mgn-top-20px">
    <a href="classificados.html" title="CLASSIFICADOS">
        <h2 class="titulo fui-calendar">CLASSIFICADOS</h2>
    </a>
    <span class="anter rpl">Anterior</span>
    <span class="prox rpl">Próximo</span>
    <span class="barra-left"></span>
    <span class="barra-right"></span>
    <ul class="lista-classificados mgn-left-10px">
        <li>
            <a href="#" title="Veículos">
                <span class="categ" style="background-color: #7F8B8D;">Veículos</span>
            </a>
            <a href="classificado.html" title="Curabitur elementum placerat diam. Ut sodales sem scelerisque sem. Sed">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img1.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Chupinguaia, RO</p>
                <p class="desc left mgn-top-10px">Curabitur elementum placerat diam. Ut sodales sem scelerisque sem. Sed</p>
            </a>
        </li>
        <li>
            <a href="#" title="Eletrônicos">
                <span class="categ" style="background-color: #3398DA;">Eletrônicos</span>
            </a>
            <a href="classificado.html" title="Integer id justo ut diam suscipit laoreet. Suspendisse commodo">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img2.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Colorado, RO</p>
                <p class="desc left">Integer id justo ut diam suscipit laoreet. Suspendisse commodo</p>
            </a>
        </li>
        <li>
            <a href="#" title="Informática">
                <span class="categ" style="background-color: #2B3D4F;">Informática</span>
            </a>
            <a href="classificado.html" title="Curabitur enim lacus, gravida nec, varius nec, blandit id, libero">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img3.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Corumbiara, RO</p>
                <p class="desc left">Curabitur enim lacus, gravida nec, varius nec, blandit id, libero</p>
            </a>
        </li>
        <li>
            <a href="#" title="Imóveis">
                <span class="categ" style="background-color: #8D43AD;">Imóveis</span>
            </a>
            <a href="classificado.html" title="Nunc aliquam. Fusce justo eros, dictum gravida, lacinia quis, aliquet">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img4.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Espigão D’Oeste, RO</p>
                <p class="desc left">Nunc aliquam. Fusce justo eros, dictum gravida, lacinia quis, aliquet</p>
            </a>
        </li>
        <li>
            <a href="#" title="Informática">
                <span class="categ" style="background-color: #2B3D4F;">Informática</span>
            </a>
            <a href="classificado.html" title="Fusce tellus risus, tincidunt at, gravida id, vestibulum quis, nibh">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img5.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Chupinguaia, RO</p>
                <p class="desc left">Fusce tellus risus, tincidunt at, gravida id, vestibulum quis, nibh</p>
            </a>
        </li>
        <li>
            <a href="#" title="Veículos">
                <span class="categ" style="background-color: #7F8B8D;">Veículos</span>
            </a>
            <a href="classificado.html" title="Curabitur elementum placerat diam. Ut sodales sem scelerisque sem. Sed">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img1.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Chupinguaia, RO</p>
                <p class="desc left mgn-top-10px">Curabitur elementum placerat diam. Ut sodales sem scelerisque sem. Sed</p>
            </a>
        </li>
        <li>
            <a href="#" title="Eletrônicos">
                <span class="categ" style="background-color: #3398DA;">Eletrônicos</span>
            </a>
            <a href="classificado.html" title="Integer id justo ut diam suscipit laoreet. Suspendisse commodo">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img2.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Colorado, RO</p>
                <p class="desc left">Integer id justo ut diam suscipit laoreet. Suspendisse commodo</p>
            </a>
        </li>
        <li>
            <a href="#" title="Informática">
                <span class="categ" style="background-color: #2B3D4F;">Informática</span>
            </a>
            <a href="classificado.html" title="Curabitur enim lacus, gravida nec, varius nec, blandit id, libero">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img3.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Corumbiara, RO</p>
                <p class="desc left">Curabitur enim lacus, gravida nec, varius nec, blandit id, libero</p>
            </a>
        </li>
        <li>
            <a href="#" title="Imóveis">
                <span class="categ" style="background-color: #8D43AD;">Imóveis</span>
            </a>
            <a href="classificado.html" title="Nunc aliquam. Fusce justo eros, dictum gravida, lacinia quis, aliquet">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img4.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Espigão D’Oeste, RO</p>
                <p class="desc left">Nunc aliquam. Fusce justo eros, dictum gravida, lacinia quis, aliquet</p>
            </a>
        </li>
        <li>
            <a href="#" title="Informática">
                <span class="categ" style="background-color: #2B3D4F;">Informática</span>
            </a>
            <a href="classificado.html" title="Fusce tellus risus, tincidunt at, gravida id, vestibulum quis, nibh">
                <figure>
                    <img src="~/Content/Site/img/classificados/212x119px/img5.jpg" alt="">
                </figure>
                <p class="hora left fui-time">00h00</p>
                <p class="local right fui-location">Chupinguaia, RO</p>
                <p class="desc left">Fusce tellus risus, tincidunt at, gravida id, vestibulum quis, nibh</p>
            </a>
        </li>
    </ul>
</section>
<div id="featured" class="chamada-rotativa mgn-left-10px mgn-top-20px">
    <ul class="lista-rotativa">
        <li>
            <a href="" title="">
                <figure>
                    <img src="~/Content/Site/img/eventos/444x250px/img1.jpg" alt="">
                </figure>
            </a>
        </li>
        <li>
            <a href="" title="">
                <figure>
                    <img src="~/Content/Site/img/eventos/444x250px/img2.jpg" alt="">
                </figure>
            </a>
        </li>
        <li>
            <a href="" title="">
                <figure>
                    <img src="~/Content/Site/img/eventos/444x250px/img3.jpg" alt="">
                </figure>
            </a>
        </li>
        <li>
            <a href="" title="">
                <figure>
                    <img src="~/Content/Site/img/eventos/444x250px/img4.jpg" alt="">
                </figure>
            </a>
        </li>
        <li>
            <a href="" title="">
                <figure>
                    <img src="~/Content/Site/img/eventos/444x250px/img5.jpg" alt="">
                </figure>
            </a>
        </li>
    </ul>
</div>
<div class="banner-323px left mgn-top-20px mgn-left-20px">
    <div class="texto-vertical left"></div>
    <div class="banner right">
        <figure>
            <a href="#" title="Título do banner">
                <img src="~/Content/Site/img/banners/300x250px/img2.png" alt="">
            </a>
        </figure>
    </div>
</div>
<section class="area-guia right mgn-top-20px mgn-right-10px">
    <a href="guiacomercial.html" title="GUIA COMERCIAL">
        <h2 class="titulo fui-eye">GUIA COMERCIAL</h2>
    </a>
    <a class="link-cadastro fui-new" href="guiacomercial-cadastrar" title="Cadastrar empresa">Cadastrar empresa</a>
    <form class="form-guia" action="" method="">
        <input placeholder="Busca" type="text" value="">
        <button title="Buscar" type="submit"></button>
    </form>
</section>
<div class="banner-377px right mgn-top-20px mgn-right-10px">
    <div class="texto-vertical left"></div>
    <div class="banner right">
        <figure>
            <a href="#" title="Título do banner">
                <img src="~/Content/Site/img/banners/357x134px/img1.png" alt="">
            </a>
        </figure>
    </div>
</div>
<div class="bloco-largura left mgn-top-20px">
    <a href="noticias.html" title="Brasil e mundo">
        <h2 class="titulo-secao fui-menu mgn-left-10px" style="color:#00668C;">Geral</h2>
    </a>

    @foreach (var noticia in Model.Noticias.Rodape.Take(3))
    {
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
        var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
    }
</div>
<div class="bloco-largura left mgn-top-20px">
    @foreach (var noticia in Model.Noticias.Rodape.Skip(3).Take(3))
    {
        <section class="noticia left largura-380px mgn-esq-dir-10px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">00h00</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
            </a>
        </section>
    }
</div>