@using Eva.Dominio
@model Eva.UI.Web.Controllers.HomeViewModel

@{
    ViewBag.Title = "Capital do Jerico";
    var indice = 0;
}


<!-- News Ticker -->
@if (!string.IsNullOrEmpty(Model.Noticias.Urgente.Titulo))
{
    <div class="container">
        <div class="float-width ticker">
            <h3 class="cat-label4">DESTAQUES</h3>
            <ul class="newsticker">
                <li>
                    <h4>
                        <a class="fui-time" href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = Model.Noticias.Urgente.Slug, slugCategoria = Model.Noticias.Urgente.Categoria.Slug, slugLocal = Model.Noticias.Urgente.Local.Slug})" title="@Model.Noticias.Urgente.Titulo">
                            @Model.Noticias.Urgente.Titulo
                        </a>
                    </h4>
                </li>
            </ul>

        </div>
    </div>
}
<!-- Home Slider and Big news blocks -->
<div class="container">
    <div class="main-news-blks">
        <div class="hm-slider-cont">
            <!-- News slider -->
            <div class="flex-container">
                <div class="flexslider hm-slider">
                    <ul class="slides">
                        @foreach (var noticia in Model.Noticias.Destaques.Take(2))
                        {
                            <li>
                                @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                                <img src="@Foto.Placehold(arquivo.Nome, "464x474", "Noticia" , "464x474_" )" alt="@arquivo.Legenda" />
                                <h3 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                                    <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                                </h3>
                                <div class="hm-sldr-caption">
                                    <h3>
                                        <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo</a>
                                    </h3>
                                    <p>@noticia.Resumo.Limit(120) ...</p>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- Fixed Blocks -->
        <div class="mid-blks-cont">
            <!-- Block1 -->
            @foreach (var noticia in Model.Noticias.Destaques.Skip(2).Take(2))
            {
                <div class="mid-block-1 boxgrid caption">
                    @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                    <img src="@Foto.Placehold(arquivo.Nome, "391x231", "Noticia" , "391x231_" )" alt="@arquivo.Legenda" />
                    <h4 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                        <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                    </h4>
                    <div class="cover boxcaption">
                        <h3><a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo.Limit(40) ...</a></h3>
                        <p>@noticia.Resumo.Limit(90) ...</p>
                        <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">Mais <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            }
        </div>
        <!-- Block3 -->
        <div class="rt-bk-cont">
            @foreach (var noticia in Model.Noticias.Destaques.Skip(4).Take(1))
            {
                <div class="rt-block boxgrid2 caption">
                    @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                    <img src="@Foto.Placehold(arquivo.Nome, "289x475", "Noticia" , "289x475_" )" alt="@arquivo.Legenda" />
                    <h4 class="cat-label" style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto">
                        <a href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                    </h4>
                    <div class="cover boxcaption2">
                        <h3><a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">@noticia.Titulo.Limit(40) ...</a></h3>
                        <p>@noticia.Resumo.Limit(90) ...</p>
                        <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">Mais <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Main Body -->
<div class="container">
    <!-- Main Left side -->
    <div class="main-left-side">
        <!-- Top News Section -->
        <div class="top-news float-width">
            <div class="float-width sec-cont">
                <h3 class="sec-title">Top news</h3>
                <div class="top-big-two">


                    @foreach (var noticia in Model.Noticias.EmbaixoDoDestaque.Take(2))
                    {
                        var classe = (indice % 2 == 0) ? "big-two-1" : "big-two-2";
                        indice++;
                        <div class="@classe blocky boxgrid3 caption">
                            @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                            <img src="@Foto.Placehold(arquivo.Nome, "367x269", "Noticia", "367x269_")" alt="@arquivo.Legenda" />
                            <div class="cover boxcaption3">
                                <h3>
                                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">@noticia.Titulo.Limit(34)...</a>
                                </h3>
                                <p class="artcl-time-1">
                                    <span><i class="fa fa-clock-o"></i>@noticia.Data.ToShortDateString()</span>
                                </p>
                                <p>@noticia.Resumo.Limit(90) ...</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
            @foreach (var noticia in Model.Noticias.EmbaixoDoDestaque.Skip(2).Take(4))
            {

                <div class="tn-small-1 blocky">
                    <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">
                        @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                        <img class="lefty" src="@Foto.Placehold(arquivo.Nome, "107x85", "Noticia", "107x85_")" alt="@arquivo.Legenda" />
                    </a>
                    <h4 class="lefty">@noticia.Titulo.Limit(60)</h4>
                    <a class="lefty cat-a " style="background-color: @noticia.Categoria.CorFundo; color: @noticia.Categoria.CorTexto" href="@Url.Action("Index", "Noticia", new {Area = "", categoria = noticia.Categoria.Slug})">@noticia.Categoria.Nome</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>@noticia.Data.ToShortDateString()</span></p>
                </div>
            }


        </div>
        <!-- Sec 1 -->
        <div class="news-sec-1 float-width">
            <div class="float-width sec-cont2">
                <h3 class="sec-title">MUSIC NEWS</h3>
                @foreach (var noticia in Model.Noticias.Centro.Take(1))
                {
                    <div class="sec-1-big float-width">
                        <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">
                            @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                            <img class="blocky" src="@Foto.Placehold(arquivo.Nome, "367x269", "Noticia", "367x269_")" alt="@arquivo.Legenda" />
                        </a>
                        <div class="sec-1-big-text lefty">
                            <h3>@noticia.Titulo</h3>
                            <h6><span><i class="fa fa-user"></i>@noticia.Fonte</span><span><i class="fa fa-clock-o"></i>@noticia.Data.ToShortDateString()</span></h6>
                            <p>@noticia.Resumo</p>
                        </div>
                    </div>
                }
                @foreach (var noticia in Model.Noticias.Centro.Skip(1).Take(4))
                {
                    <div class="sec-1-sm">
                        <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">
                            @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                            <img class="blocky" src="@Foto.Placehold(arquivo.Nome, "143x113", "Noticia", "143x113_")" alt="@arquivo.Legenda" />
                        </a>
                        <div class="sec-1-sm-text blocky">
                            <h3>@noticia.Titulo.Limit(26) ...</h3>
                            <h6><span><i class="fa fa-clock-o"></i>@noticia.Data.ToShortDateString()</span></h6>
                            <p>@noticia.Resumo.Limit(67) ...</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- News slider -->
        <div class="qk-slider float-width">
            <h3 class="sldr-title">slider</h3>
            <div class="flexslider news-sldr">
                <ul class="slides">
                    @foreach (var noticia in Model.Noticias.Slide)
                    {
                        <li>
                            <div class="trans2 slide-sngl">
                                <a class="text-center" href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">
                                    @{var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();}
                                    <img src="@Foto.Placehold(arquivo.Nome, "220x145", "Noticia", "220x145_")" alt="@arquivo.Legenda" />
                                </a>
                                <h4>
                                    <a href="@Url.Action("Ler", "Noticia", new {Area = "", slugNoticia = noticia.Slug, slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug})" title="@noticia.Titulo">
                                        @noticia.Titulo.Limit(35) ...
                                    </a>
                                </h4>
                                <p>@noticia.Resumo.Limit(95) ...</p>
                                <h6><span><i class="fa fa-clock-o"></i>@noticia.Data.ToShortDateString()</span></h6>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- POLLS AND REVIEWS -->
        <div class="news-sec-2 float-width">
            <div class="float-width sec-cont3">
                <h3 class="sec-title">TECHNOLOGY - POLLS AND REVIEWS</h3>
                <div class="polls-cont">
                    <div class="polls-left blocky">
                        <a href="#"><img alt="" class="polls-bg-img" src="~/Content/Site/img/samples/z4.jpg" /></a>
                        <div class="pol-lft-txt">
                            <h4 class="float-width">Pizza will be delivered by Drons</h4>
                            
                            <h6 class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            <p class="float-width">Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare. Pellentesque vitae nibh volutpat velit feugiat euismod ut a elit. Donec in felis rutrum risus bibendum cursus. Aliquam interdum aliquam elementum ...</p>
                        </div>
                    </div>
                    <div class="polls-right lefty">
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m1.jpg" /></a>
                            <h5>Pizza will be delivered by Drons</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m2.jpg" /></a>
                            <h5>YouTube as a real Television?</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m3.jpg" /></a>
                            <h5>Flying Mouse to your PC</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            
                        </div>
                        <div class="pol-rt-sm float-width">
                            <a href="#" class="lefty pol-rt-img"><img alt="" src="~/Content/Site/img/samples/m4.jpg" /></a>
                            <h5>Best gadget ever on your hand</h5>
                            <h6 class="lefty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span><span><i class="fa fa-comment-o"></i>21 comments</span></h6>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Images news with slider -->
        <div class="sm-gal-cont float-width">
            <h3 class="sec-title">TOURISM - GALLERY</h3>
            <div class="sm-gal-bg">
                <a href="#"><img alt="" src="~/Content/Site/img/samples/z5.jpg" /></a>
            </div>
            <div class="flexslider img-sm-gal righty">
                <ul class="slides">
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg">
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg">
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r1.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r5.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r2.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r6.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r3.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r7.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/r4.jpg" />
                        <img alt="" src="~/Content/Site/img/samples/r8.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <!-- Videos Section -->
        <div class="vid-gal float-width">
            <h3 class="sec-title">TECHNOLOGY - VIDEOS</h3>
            <div class="vid-gal-bg float-width">
                <iframe src="http://player.vimeo.com/video/83714647" width="100%" height="387" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="vid-thmb">
                <ul class="float-width">
                    <li><img alt="" src="~/Content/Site/img/samples/b1.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b2.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b3.jpg" /></li>
                    <li><img alt="" src="~/Content/Site/img/samples/b4.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Main Right side -->
    <div class="main-right-side">
        <!-- One image slider -->
        <div class="sm-sldr-box float-width">
            <div class="flexslider sm-sldr">
                <ul class="slides">
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/z2.jpg" />
                    </li>
                    <li>
                        <img alt="" src="~/Content/Site/img/samples/z2.jpg" />
                    </li>
                </ul>
            </div>
        </div>
       
        <!-- Trending news right -->
        <div class="trending lefty">
            <h3 class="sec-title">TRENDING</h3>
            <div class="trend-1">
                <a href="#"><img alt="" src="~/Content/Site/img/samples/z3.jpg" /></a>
                <a class="lefty cat-a cat-label2" href="#">GAMES</a>
                <div class="trend-2">
                    <h3><a href="#">Watch Dogs - First gameplay this year</a></h3>
                    <p>Curabitur fringilla porttitor porta. Vivamus vel nulla ullamcorper, fringilla ligula nec, pellentesque nisl. Sed dolor..</p>
                    <p class="artcl-time-1">
                        <span><i class="fa fa-clock-o"></i>20 Jan 2014</span>
                        <span><i class="fa fa-comment-o"></i>21 comments</span>
                    </p>
                </div>
            </div>
            <div class="float-width">
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e2.jpg" /></a>
                    <h4 class="lefty">USA Games Studio will release sandbox new game</h4>
                    <a class="lefty cat-a cat-label2" href="#">GAMES</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e1.jpg" /></a>
                    <h4 class="lefty">After party of Blondi Concert will begin tomorrow</h4>
                    <a class="lefty cat-a cat-label4" href="#">MUSIC</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
                <div class="trend-sm float-width">
                    <a href="#"><img alt="" class="lefty" src="~/Content/Site/img/samples/e3.jpg" /></a>
                    <h4 class="lefty">The best place to see in Winter season this year</h4>
                    <a class="lefty cat-a cat-label3" href="#">TOURISM</a>
                    <p class="righty"><span><i class="fa fa-clock-o"></i>20 Jan 2014</span></p>
                </div>
            </div>
        </div>
       
        <!-- Featured Video -->
        <div class="ftrd-vd float-width">
            <h3 class="sec-title">FEATURED VIDEO</h3>
            <iframe src="http://player.vimeo.com/video/8170203?color=b3a07d" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
        <!-- Ad banner right -->
        <div class="lefty ad-rt">
            <a href="#"><img alt="" src="~/Content/Site/img/samples/u1.jpg" /></a>
        </div>
    </div>
</div>