@using PagedList.Mvc
@model Eva.UI.Web.Areas.Painel.Controllers.NoticiasConteudoCrawler
<div class="col-md-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { Area = "Painel" })"><i class="fa fa-home"></i> Inicio</a></li>
        <li><a href="@Url.Action("Index", "ExtratorNews", new {Area = "Painel"})"> Extrator News</a></li>
        <li><a href="@Url.Action("VerLista", "ExtratorNews", new { Area = "Painel", id=ViewBag.Id })"> Ver Lista</a></li>
        <li class="active">Ver Noticia</li>
    </ul>
    <!--breadcrumbs end -->
</div>

<div class="col-md-12">
    @Flash.FlashMessage(TempData)
</div>

<div class="col-sm-12">
    <section class="panel">
        <header class="panel-heading">
            Extrator News:
        </header>
        <div class="panel-body">
            <div class="adv-table editable-table ">
                <a href="@ViewBag.Url" target="_blank">@ViewBag.Url</a>
                <div class="clearfix" style="margin-bottom: 15px;">
                    <div class="btn-group">
                        <form class="cmxform form-horizontal " id="grupoForm" method="POST" action="@Url.Action("SalvarNoticia")" novalidate="novalidate" enctype="multipart/form-data">

                            <input type="hidden" name="Titulo" id="Titulo" value="@Model.Titulo"/>
                            <input type="hidden" name="Autor" id="Autor" value="@Model.Autor"/>
                            <input type="hidden" name="UrlFoto" id="UrlFoto" value="@Model.UrlFoto"/>
                            <input type="hidden" name="Conteudo" id="Conteudo" value="@Model.Conteudo" />

                            <button class="btn btn-primary" type="submit">Publicar Noticia <i class="fa fa-plus"></i></button>
                        </form>
                    </div>
                </div>

                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>@Model.Titulo</h1>
                            <em>@Model.Autor</em>
                            <div class="col-lg-12">
                                <img src="@Model.UrlFoto" alt="" />
                            </div>
                            <p>@Model.Conteudo</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>