<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rondônia Vip</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="W7BR - Soluções em tecnologia">

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/Site/assets/css/estilo.css" />
    <link rel="stylesheet" href="~/Content/Site/assets/css/colorbox.css" />

    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'> -->
    <!-- Icone do Navegador -->
    <link href="~/Content/Site/assets/ico/icon.png" rel="icon" type="image/x-icon" />
    <link href="~/Content/Site/assets/ico/icon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Site/assets/ico/icon.png" rel="apple-touch-icon" type="image/x-icon" />

    <!-- Redirecionamento -->
    <!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script type="text/javascript">
        //<![CDATA[
            location.href="http://updateyourbrowser.net/pt/";
        //]]>
    </script>
    <![endif]-->
</head>
<body>
    <!-- plugin facebook -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="container">
        <header id="cabecalho">
            <h1><a class="logo rpl" href="@Url.Action("Index","Home",new{Area=""})" title="Página inicial Rondônia Vip">Rondônia Vip</a></h1>
            <div class="social mgn-top-10px left">
                <a href="contato.html" title="Contato">
                    <h2 class="fui-bubble-16px">Contato</h2>
                </a>
                <ul>
                    <li><a class="face rpl" href="#" title="Curta nossa página no Facebook">Facebook</a></li>
                    <li><a class="gplus rpl" href="#" title="Siga-nos no Google Plus">Google Plus</a></li>
                    <li><a class="twitter rpl" href="#" title="Siga-nos no Twitter">Twitter</a></li>
                    <li><a class="youtube rpl" href="#" title="Inscreva-se no nosso canal do YouTube">YouTube</a></li>
                </ul>
            </div>
            <div class="topo right">
                <nav class="menu">
                    <ul>
                        <li>
                            <a class="fui-menu" href="@Url.Action("Index","Noticia",new{Area="",categoria="todas"})" title="NOTÍCIAS">NOTÍCIAS</a>
                        </li>
                        <li>
                            <a class="fui-calendar" href="" title="CLASSIFICADOS">CLASSIFICADOS</a>
                        </li>
                        <li>
                            <a class="fui-camera" href="" title="EVENTOS">EVENTOS</a>
                        </li>
                        <li>
                            <a class="fui-eye" href="" title="GUIA COMERCIAL">GUIA COMERCIAL</a>
                        </li>
                        <li>
                            <a class="fui-video" href="" title="VÍDEOS">VÍDEOS</a>
                        </li>
                    </ul>
                </nav>
                <p class="data-atual">Bom dia! Rondônia, 00 de abril de 2013.</p>
                <div class="tools-social">
                    <div class="face left">
                        <div class="fb-like" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
                    </div>
                    <div class="gplus left">
                        <div class="g-plusone" data-size="medium"></div>
                    </div>
                    <div class="twitter right">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
                    </div>
                </div>
                <form class="busca right" action="resultado-busca.html" method="get/post">
                    <input placeholder="Busca" type="text" value="">
                    <button class="rpl" type="submit" title="Clique para buscar!">Buscar</button>
                </form>
            </div>
        </header><!-- fim cabeçalho -->
        <div id="conteudo">
            @RenderBody()
        </div>
        <footer id="rodape" class="mgn-left-10px">
            <h1><a class="logo-rodape mgn-top-17px rpl" href="@Url.Action("Index","Home",new{Area=""})" title="Página inicial Rondônia Vip">Rondônia Vip</a></h1>
            <div class="social-rodape mgn-top-17px left">
                <a href="contato.html" title="Contato">
                    <h2 class="rodape fui-bubble-16px">Contato</h2>
                </a>
                <ul>
                    <li><a class="face rpl" href="#" title="Curta nossa página no Facebook">Facebook</a></li>
                    <li><a class="gplus rpl" href="#" title="Siga-nos no Google Plus">Google Plus</a></li>
                    <li><a class="twitter rpl" href="#" title="Siga-nos no Twitter">Twitter</a></li>
                    <li><a class="youtube rpl" href="#" title="Inscreva-se no nosso canal do YouTube">YouTube</a></li>
                </ul>
            </div>
            <div class="topo right">
                <nav class="menu">
                    <ul>
                        <li>
                            <a class="fui-menu" href="@Url.Action("Index","Noticia",new{Area="",categoria="todas"})" title="NOTÍCIAS">NOTÍCIAS</a>
                        </li>
                        <li>
                            <a class="fui-calendar" href="" title="CLASSIFICADOS">CLASSIFICADOS</a>
                        </li>
                        <li>
                            <a class="fui-camera" href="" title="EVENTOS">EVENTOS</a>
                        </li>
                        <li>
                            <a class="fui-eye" href="" title="GUIA COMERCIAL">GUIA COMERCIAL</a>
                        </li>
                        <li>
                            <a class="fui-video" href="" title="VÍDEOS">VÍDEOS</a>
                        </li>
                    </ul>
                </nav>
                <form class="busca left mgn-left-20px" action="resultado-busca.html" method="get/post">
                    <input placeholder="Busca" type="text" value="">
                    <button class="rpl" type="submit" title="Clique para buscar!">Buscar</button>
                </form>
            </div>
            <div class="bloco-esq">
                <div class="copy-dev">
                    <p class="copy">Copyright &copy; 2013 RondôniaVip. Todos os direitos reservados.</p>
                    <a class="frame termos" href="termo-uso.html" title="Termos de uso">Termos de uso</a>
                    <div class="dev right">
                        <p>Desenvolvido por:</p>
                        <a class="logo-dev rpl" target="_blank" href="http://www.w7br.com" title="W7BR Soluções em tecnologia">W7BR Soluções em tecnologia</a>
                    </div>
                </div>
                <div class="categorias-rodape">
                    <div class="lista-categ">
                        @Html.Action("CategoriasWidget", "Home", new { Area = "" })
                    </div>
                </div>
            </div>
            <div class="plugin-social right">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/Rond%C3%B4niaVip/333297310020094?fref=ts" data-width="660" data-height="270" data-show-faces="true" data-stream="false" data-show-border="false" data-header="true"></div>
            </div>
        </footer>
    </div><!-- fim container -->
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>  -->
    <script src="~/Content/Site/assets/js/jquery.js"></script>
    <script src="~/Content/Site/assets/js/cycle.js"></script>
    <script src="~/Content/Site/assets/js/jcarousel.js"></script>
    <script src="~/Content/Site/assets/js/colorbox.js"></script>
    <script>
        $(document).ready(function () {
            $(".frame").colorbox();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('.slideshow').cycle({
                fx: 'fade',
                speed: 2000,
                timeout: 4000,
                pager: '.miniatura',
                pagerAnchorBuilder: function (idx, slide) {
                    // return sel string for existing anchor
                    return '.miniatura li:eq(' + (idx) + ') a';
                }
            });
        });
    </script>

    <script type="text/javascript">
        jQuery.fn.toggleText = function (a, b) {
            return this.html(this.html().replace(new RegExp("(" + a + "|" + b + ")"), function (x) { return (x == a) ? b : a; }));
        };

        $(document).ready(function() {
            $('.oculto').before('<span class="expandir">Expandir</span>');
            $('span', '.categorias').click(function() {
                $(this).next().slideToggle('slow')
                    .siblings('.oculto:visible').slideToggle('slow');
                // aqui começa o funcionamento do plugin
                $(this).toggleText('Expandir', '<span class="recolhe">Recolher</span>')
                    .siblings('span').next('.oculto:visible').prev()
                    .toggleText('Expandir', 'Recolher');
            });
        });
    </script>

    <script>
        // Wait until the DOM has loaded before querying the document
        $(document).ready(function () {
            $('ul.tabs').each(function () {
                // For each set of tabs, we want to keep track of
                // which tab is active and it's associated content
                var $active, $content, $links = $(this).find('a');

                // If the location.hash matches one of the links, use that as the active tab.
                // If no match is found, use the first link as the initial active tab.
                $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
                $active.addClass('active');
                $content = $($active.attr('href'));

                // Hide the remaining content
                $links.not($active).each(function () {
                    $($(this).attr('href')).hide();
                });

                // Bind the click event handler
                $(this).on('click', 'a', function (e) {
                    // Make the old tab inactive.
                    $active.removeClass('active');
                    $content.hide();

                    // Update the variables with the new link and content
                    $active = $(this);
                    $content = $($(this).attr('href'));

                    // Make the tab active.
                    $active.addClass('active');
                    $content.show();

                    // Prevent the anchor's default click action
                    e.preventDefault();
                });
            });
        });
    </script>

    <script>
        $(function () {
            $(".slide-classificados").jCarouselLite({
                btnNext: ".prox",
                btnPrev: ".anter",
                speed: 1000,
                vertical: false,
                scroll: 4,
                visible: 5,
                auto: false
            });
        });
    </script>

    <!-- Gplus +1 button -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <!--Twitter-->
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</body>
</html>