@using Eva.Dominio
@using PagedList.Mvc
@model PagedList.IPagedList<Eva.Dominio.Noticia>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img1.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img2.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>
<section class="left mgn-top-20px">
    <h2 class="titulo-28px left mgn-left-10px fui-menu">NOTÍCIAS</h2>
    <div class="secao-categ mgn-left-10px left">
        <div class="oculto">
            <!-- todo: não expande as categorias -->
            @Html.Action("CategoriasWidget", "Home", new { Area = "" })
        </div>
    </div>
    <div class="bloco-largura left mgn-top-20px">
        @foreach (var noticia in Model.Take(3))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToString("dd/MM/yyyy HH:mm")</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            var arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <div class="bloco-largura left mgn-top-20px">
        @foreach (var noticia in Model.Skip(3).Take(3))
        {
            <section class="noticia left largura-380px mgn-esq-dir-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToString("dd/MM/yyyy HH:mm")</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug })" title="@noticia.Titulo">
                    <p class="desc left mgn-top-5px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </section>
        }
    </div>
</section>
<div class="paginacao mgn-top-20px">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<div class="banner-1184px right mgn-right-10px mgn-top-20px">
    <div class="banner-728px left">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/728x90px/img4.png" alt="">
                </a>
            </figure>
        </div>
    </div>
    <div class="banner-417px right">
        <div class="texto-vertical left"></div>
        <div class="banner right">
            <figure>
                <a href="#" title="Título do banner">
                    <img src="~/Content/Site/img/banners/394x90px/img3.png" alt="">
                </a>
            </figure>
        </div>
    </div>
</div>