@using Eva.Dominio
@model Eva.UI.Web.Controllers.NoticiaLerViewModel

<div class="bloco-largura-940px left mgn-left-10px mgn-top-20px">
    
    <section class="bloco-largura-540px mgn-left-20px left">
        <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = Model.Noticia.Categoria.Slug })" title="@Model.Noticia.Categoria.Nome">
            <p class="titulo-28px fui-menu" style="color:@Model.Noticia.Categoria.CorFundo;">@Model.Noticia.Categoria.Nome</p>
        </a>
        <div class="barra-info">
            <p class="data fui-time">@Model.Noticia.Data.ToString("dd/MM/yyyy HH:mm")</p>
            <p class="local fui-location">@Model.Noticia.Local.Nome</p>
            <p class="visualizado fui-eye">@Model.Noticia.Hits visualizações</p>
        </div>
        <h1 class="titulo-32px">@Model.Noticia.Titulo</h1>
        <figure class="imagem-noticia">
            @{
                var arquivo = Model.Noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
            }
            <img src="@Foto.Placehold(arquivo.Nome, "100x606", "Noticia" , "" )"  class="img-responsive"/>
        </figure>
        <div class="desc-noticia">
            <p style="white-space: pre-line">@Model.Noticia.Conteudo</p>
        </div>
    </section>
    <div class="bloco-largura-223px right">
        <h2 class="titulo-ultimas">Últimas notícias</h2>
        @foreach (var noticia in Model.Ultimas)
        {
            <section class="noticia left bloco-largura-223px mgn-top-10px">
                <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
                                arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="100" height="57" />
                        </figure>
                    </a>

                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px " style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
    <section class="mais-imagens-noticia left">
        @foreach (var item in Model.Noticia.Arquivos.Skip(1))
        {
            <figure>
                <img src="@Foto.Placehold(item.Nome, "940x529", "Noticia" )" width="940" />
            </figure>
        }
    </section>
    <div class="comentarios-noticia">
        <div class="fb-comments" data-href="http://example.com" data-width="940" data-num-posts="10"></div>
    </div>
    <div class="bloco-largura left mgn-top-20px">
        <h2 class="titulo-noticia-relacionada">Notícias relacionadas</h2>
        @foreach(var noticia in Model.Relacionadas.Take(2))
        {
        <section class="noticia left bloco-largura-453px mgn-top-20px">
            <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
            <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
            </a>
            <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
            <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
            <div class="bloco-largura left mgn-top-10px">
                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <figure class="left mgn-right-10px">
                        @{
            arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                        }
                        <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                    </figure>
                </a>

                <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                    <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                </a>
            </div>
        </section>
        }
    </div>
    <div class="bloco-largura left">
        @foreach (var noticia in Model.Relacionadas.Skip(2).Take(2))
        {
            <section class="noticia left bloco-largura-453px mgn-top-20px">
                <h2 class="chamada mgn-bottom-5px" style="background-color:@noticia.Categoria.CorFundo;">@noticia.Antetitulo</h2>
                <a href="@Url.Action("Index", "Noticia", new { Area = "", categoria = noticia.Categoria.Slug })" title="@noticia.Categoria.Nome">
                    <h3 class="categoria" style="color:@noticia.Categoria.CorFundo;">@noticia.Categoria.Nome</h3>
                </a>
                <p class="hora left fui-time" style="color:@noticia.Categoria.CorFundo;">@noticia.Data.ToShortTimeString()</p>
                <p class="local right fui-location" style="color:@noticia.Categoria.CorFundo;">@noticia.Local.Nome</p>
                <div class="bloco-largura left mgn-top-10px">
                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <figure class="left mgn-right-10px">
                            @{
            arquivo = noticia.Arquivos.FirstOrDefault() ?? new Arquivo();
                            }
                            <img src="@Foto.Placehold(arquivo.Nome, "150x85", "Noticia" , "150x85_" )" width="150" height="85" />
                        </figure>
                    </a>

                    <a href="@Url.Action("Ler", "Noticia", new { Area = "", slugNoticia=noticia.Slug ,slugCategoria = noticia.Categoria.Slug, slugLocal = noticia.Local.Slug })" title="@noticia.Titulo">
                        <p class="desc desc-14px" style="color:@noticia.Categoria.CorFundo;">@noticia.Titulo</p>
                    </a>
                </div>
            </section>
        }
    </div>
</div><!--fim bloco-largura-940px-->

